header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(8px);

    div.content {
        display: flex;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
        gap: .5rem;

        span.title {
            font-size: 1.25rem;
        }
    }
}