:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: #fafafa;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 64px 1fr 128px;
  grid-template-columns: 1fr;
  overflow: hidden;

  header {
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
    gap: .5rem;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #424242;

    img {
      height: 60px;
      object-fit: cover;
    }

    span.title {
      font-size: 1.5rem;
    }
  }

  main#app {
    display: grid;
    padding: 1rem 6rem;
    grid-template-columns: repeat(auto-fit, minmax(264px, 264px));
    grid-template-rows: repeat(auto-fit, minmax(360px, 360px));
    justify-items: center;
    place-items: center;
    gap: 2rem;

    .podcast {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      background: #303030;
      box-shadow: 4px 4px 8px 0px rgb(255 255 255 / 25%);
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: relative;

      &.upcoming {
        .what {
          font-size: 5rem;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .content {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-size: 1.5rem;
          text-align: center;
        }
      }

      div.top {
        flex: 1;
        position: relative;

        &:hover {
          .action {
            opacity: 1;
          }
        }

        img {
          object-fit: cover;
          overflow: hidden;
        }

        .pill {
          position: absolute;
          top: .5rem;
          right: .5rem;
          background: red;
          padding: .25rem .75rem;
          border-radius: 50px;
          font-size: .75rem;
        }

        .action {
          opacity: 0;
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(to bottom, transparent, #242424);
          transition: 250ms opacity;

          button {
            all: unset;
            font-size: 2rem;
            border-radius: 50px;
            background: purple;
            width: 40px;
            height: 40px;
            display: flex;
            place-items: center;
            cursor: pointer;

            &::after {
              content: '>';
              transform: translateX(12px) translateY(0);
            }
          }
        }
      }

      div.bottom {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;

        span.author {
          font-size: 1.1rem;
        }

        span.title {
          font-size: .9rem;
          color: #dadada;
        }
      }
    }
  }

  footer {
    background: #303030;
    border-top: 1px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6rem;
    gap: 1rem;

    input {
      all: unset;

      border: 1px solid grey;
      color: white;
      border-radius: .5rem;
      padding: .5rem;
      flex: 1;
      background: #303030;
    }

    button {
      padding: .5rem;
      border-radius: .5rem;
      color: white;
      background: rgb(255, 33, 33);
    }
  }
}

.spacer {
  flex: 1;
}